html,
body {
  height: 100%;
}

body
{
    background-color: #D3C9C5;
    height: 100%;
}

a 
{
    display: inline-block;
    color:#000000;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  background-color: #D3C9C5;
}

.search
{
  margin-top: 4%;
  width: 100%;
  height: 5%;
  position: absolute;
}

.search input{
  height: 100%;
  width: 50%;
  margin-left: 25%;
  border: 0;
  border-radius: 90px;
}
.books{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 6%;
}

.book{
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 12%;
  margin: auto;
  margin-top: 2%;
  height: auto;
}

.book:last-child
{
  padding-bottom: 3%;
}
.book .desc{
  display: flex;
  flex-direction: column;
}

.book img{
  height: 240px;
  width: 180px;
  padding-bottom: 2%;
}
.book h3{
  width: auto;
}
.book .sp {
  display: inline-block;
  width: auto;
  color: #222D32;
  font-size: 18px;
  margin-left:5%;
  padding-bottom: 1%;
  line-height: 1;
  text-decoration:none;
  cursor: pointer;
  position:relative;
}
.book .sp:after
{
    background-color: #222D32;
    display: block;
    content: "";
    height: 1.5px;
    width: 0%;
    left: 50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
}

.book .sp:hover:after,
.book .sp:focus:after {
    width: 100%;
}
.author{
  margin-left:5%;
  font-size: 16px;
  padding-bottom: 1.5%;

}

.book p{
  margin-left:2.5%;
  text-align: justify;
}

@media only screen and (max-width: 720px) {
  .search{
    margin-top: 20%;
    width: 100%;
    height: 7%;
    position: absolute;
  }
  .search input{
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 90px;
    margin: auto;
  }
  .books{

    margin-top: 25%;
  }

  .des{
    display: none;
  }
  .author{
    display: none;
  }
  h3{
    width: 100%;
    text-align: center;
  }
  .book{
    flex-direction: column;
    width: auto;
    margin-top: 12%;
  }

}