
html,
body {
  height: 100%;
}

body
{
    background-color: #2C363A;
    height: 100%;
}

.table span {
  display: inline-block;
  width: auto; 
  color:#DADADA;
  line-height: 1;
  text-decoration:none;
  text-align: center;
  cursor: pointer;
  position:relative;
}

.table span:after
{
    background-color: #DADADA;
    display: block;
    content: "";
    height: 1.5px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
}

.table span:hover:after,
.table span:focus:after {
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
}

 .scont{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #D3C9C5;
  padding-top: 3%;
  padding-bottom: 5%;
}

.scont h2
{
  margin-top: 3%;
  text-align: center;
  font-family: 'Cormorant Garamond';
  border-bottom: 1px solid #000000;
  flex-direction: column;
}

.scont p{
  text-align: justify;
  margin-top: 0.5%;
  width: 60%;
  margin-top: 1%;
  font-size: 18px;
}
.scont .pf{
  margin-top: 1.5%;
}

 .mcont{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'EB Garamond', serif;
  height: auto;
  background-color: #2C363A;
  padding-bottom: 2%;
}

.mcont .table{
  margin: auto;
  margin-top: 2%;
  width: 65%;
  display: flex;
  flex-direction: column;
  color: #D3C9C5;
  border-collapse: collapse;
  font-family: 'Cormorant Garamond';
  font-size: 19px;

}
tbody{
  width: 80%;
  margin: auto;

}
.table tr{
  width: 100%;
}
.table tr,td{
  padding: 1.2%;
text-align: left;
border-bottom: 1px solid #000000;
transition: 0.5s;

}

tr:hover {background-color: #b21818;}

.table .num{
  width: 3%;
  transition: 0.5s;

}

.table .name{
  width: auto;
}
.table .author{
  width: 33%;
}
.table .year{
  width: 18%;
}

@media only screen and (max-width: 720px)
{
    .scont p{
      width: 93%;
      font-size: 14px;
      margin-top: 3%;
    }

    .scont h2{
      font-size: 16px;
      margin-top: 18%;
    }
    .mcont .table{
      font-size: 16px;
      width: 100%;
      color: #D3C9C5;

    }
    tbody{
      width: 95%;
    }
}
